<nb-card class="bd-table" size="large">
    <nb-card-header>
        Tabla: {{tableName}}
    </nb-card-header>
    <nb-card-body>
        <app-wbr-pivot #pivot1 (cellclick)="onCellClick($event)" (beforetoolbarcreated)="customizeToolbar($event)" [toolbar]="true" [width]="'100%'" [height]="500" [customizeCell]="onCustomizeCell" (ready)="onPivotReady($event)" (reportcomplete)="onReportComplete()">
            Tabla
        </app-wbr-pivot>

    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>
