<nb-card style="width: 600px;" size="large">
    <nb-card-header>
        Tabla: {{tableName}}
    </nb-card-header>
    <nb-card-body>
        <app-wbr-pivot #pivot1 (beforetoolbarcreated)="customizeToolbar($event)" [toolbar]="true" [width]="'100%'" [height]="500" [customizeCell]="onCustomizeCell" (ready)="onPivotReady($event)" (reportcomplete)="onReportComplete()">
            WebDataRocks will appear here
        </app-wbr-pivot>

    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>