<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

            <h1>Tutoriales Orienta-T</h1>
            <p>Encuentra aquí tutoriales donde podrás aprender a utilizar cada una de las funciones de la plataforma.</p>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let tutorial of tutorials" class="tutorial col-md-4">
            <nb-card size="small">
                <nb-card-header>
                    {{tutorial?.title}}
                </nb-card-header>
                <nb-card-body class="p-0">
                    <a [href]="tutorial?.video_url" target="_blank">

                        <img [src]="tutorial?.image_url" width="100%" height="100%">
                    </a>

                </nb-card-body>
                <nb-card-footer class="d-flex justify-content-between">

                    <a nbButton shape="round" size="tiny">{{tutorial?.difficulty}}</a>
                    <div class="d-flex flex-column justify-content-right text-right">
                        {{tutorial?.desc}}
                        <a *ngIf="tutorial?.doc_url" [href]="tutorial?.doc_url" target="_blank">
Más información
                        </a>
                    </div>
                </nb-card-footer>
            </nb-card>
        </div>

    </div>

</div>
