<nb-card size="medium" [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">
    <nb-card-header>Añadir Campaña</nb-card-header>
    <nb-card-body>

        <div>
            <div class="form-group row">

                <label for="name" class="label col-sm-3 col-form-label">Nombre</label>
                <form [formGroup]="form">
                    <input formControlName="name" type="text" nbInput fullWidth id="name" placeholder="Nombre de Campaña">

                </form>

            </div>
            <div class="form-group row">
                <label for="name" class="label col-sm-3 col-form-label">Audiencia</label>
                <ngx-dropzone style="width: 100%;" [multiple]="false" [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'" [maxFileSize]="'1000000'" (change)="onSelect($event)">
                    <ngx-dropzone-label>Arrastre su Archivo aquí</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} </ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>

            </div>
            <nb-progress-bar *ngIf="progress>0" [value]="progress"></nb-progress-bar>



        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group row">
            <button nbButton (click)="onSubmit()">Crear Campaña</button>
        </div>
    </nb-card-footer>
</nb-card>
