<swiper [config]="config" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
    <ng-template *ngFor="let ppsRank of ppsRanking | slice:0:3; let i=index" swiperSlide>
        <div class="card-container ">
            <nb-reveal-card [showToggleButton]="false" [revealed]="ppsRank.showCard">
                <nb-card-front>
                    <nb-card class="area-card" accent="success">
                        <nb-card-header>
                            <div class="align-items-center pps_icon pt-3 pb-0">
                                <img width="150" [src]="ppsRank.pps.icon">
                            </div>
                        </nb-card-header>
                        <nb-card-body>
                            <div class=" card-content d-flex flex-column justify-content-around ">
                                <div class="d-flex align-items-center justify-content-center pps_title  ">
                                    <h3 class="text-purple-orientate">{{ppsRank.pps.title}}</h3>
                                </div>
                                <div class="d-flex align-items-center justify-content-center pps_desc ">
                                    <p class="text-justified">{{ppsRank.pps.desc}}</p>
                                </div>
                                <div class="d-flex align-items-center justify-content-center pps_puntaje  ">
                                    <p class="b h4 text-purple-orientate ">Puntaje: <span class="h1 text-purple-orientate">{{ppsRank.total}}</span></p>
                                </div>

                            </div>

                        </nb-card-body>
                        <nb-card-footer>

                            <div>

                                <nb-actions nbPopoverTrigger="hint" nbPopover="Elige un área de desempeño que te llame la atención" nbPopoverPlacement="top" class="pb-5" status="info" fullWidth size="medium">
                                    <nb-action status="info" (click)="toggleCard(ppsRank)" icon="message-circle-outline" [badgeText]="ppsRank.pps.onets.length" badgePosition="top right" badgeStatus="danger">
                                    </nb-action>

                                </nb-actions>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                    <nb-card class="area-card" accent="primary">
                        <nb-card-header>
                            <h2 class="pps_title text-purple-orientate p-3">{{ppsRank.pps.title}}</h2>

                        </nb-card-header>
                        <nb-card-body>
                            <h6>Áreas de desempeño</h6>


                            <div>
                                <a href="#" routerLink="/perfil/ocupaciones/{{ppsRank.pps.code}}/{{onet.title}}" nbPopoverPlacement="right" nbPopoverTrigger="hint" [nbPopover]="templateRef" *ngFor="let onet of ppsRank.pps.onets" class="mt-3 row" fullWidth nbButton shape="round" size="medium"
                                    nbButton status="info">
                                        {{onet.title}}
                                        <ng-template #templateRef>
                                          <div style="width: 300px;" class="onet_popover p-3 text-center">

                                            <h6>Descripción:</h6>
                                            <p  class="mt-3 "> {{onet.desc}}</p>
                                          </div>
                                        </ng-template>
                                      </a>
                            </div>



                            <nb-actions fullWidth size="medium">
                                <nb-icon (click)="toggleCard(ppsRank)" src="close-circle-outline">
                                </nb-icon>

                            </nb-actions>
                        </nb-card-body>
                    </nb-card>
                </nb-card-back>
            </nb-reveal-card>

        </div>


    </ng-template>


</swiper>
