<div class="mt-5">


    <!--Pregunta General-->
    <div class="d-flex flex-column justify-content-between">
        <div class="question row align-items-center">
            <div class="question-text   col-md-8 p-0 align-items-center">
                <p class="ml-3"> <span class="num"> {{question.code}} </span> {{question.text}}</p>
            </div>
            <div *ngIf="question.id==1" class=" instruction mx-auto col-md-4 align-items-center">
                <p class="text-blue-orientate caption text-center">Recuerda elegir las opciones en orden de preferencia</p>
                <img class="scale-card   mx-auto" src="assets/Orienta-t/Escala de respuesta/PNG/Oriéntate_Barra.png">
            </div>
        </div>
    </div>

    <!--Sub-preguntas-->
    <div class="d-flex flex-column justify-content-between mt-3">
        <div *ngFor="let option of question.options" class="sub-question row align-items-center">
            <div class="q-desc col-md-8 p-0 align-items-center">
                <div class="col-md-10 m-0 align-items-center">

                    <p class="sub-question-text">{{option.text}}</p>
                    <!--<p>Seleccion: {{option?.value}}</p>-->
                </div>
            </div>
            <div class="q-scale col-md-4 align-items-center">
                <ngx-scale [value]="form?.controls[question.label + '_' + option.subcode].value" (onChange)="setOptionValue(option,$event)"></ngx-scale>
            </div>
        </div>
    </div>

</div>
