@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        background-color: nb-theme(color-primary-500);
        border: nb-theme(card-border-width) nb-theme(card-border-style) nb-theme(card-border-color);
        border-radius: nb-theme(card-border-radius);
        box-shadow: nb-theme(card-shadow);
    }
    .scale-card {
        max-width: 350px;
        min-width: 250px;
        width: 100%;
    }
    .question {
        position: relative;
    }
    .instruction {
        position: absolute;
        right: 0;
        top: -75px;
        align-items: center;
    }
    .sub-question {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid nb-theme(color-primary-500);
    }
    .num {
        border-radius: 50%;
        font-weight: bold;
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
        padding: 10px;
        color: #fff;
        text-align: center;
        background: nb-theme(color-primary-500);
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
    }
    .question-text p {
        font-size: 16px;
        margin-left: 0!important;
    }
    .sub-question-text {
        margin: 0;
    }
    .sub-question {
        min-height: 70px;
    }
}
