<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Agregar Encuestado</nb-card-header>
            <nb-card-body>
                <form class="form-inline">
                    <input name="name" [(ngModel)]="surveyed.name" type="text" nbInput fullWidth placeholder="Nombre">
                    <input name="identification" [(ngModel)]="surveyed.identification" type="text" nbInput fullWidth placeholder="ID">
                    <button (click)="onSubmit()" nbButton status="primary">Agregar</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>
