@import './themes';
@mixin nb-overrides() {
    //Estilo tamaño text menu
    overflow-wrap: break-word;
    margin-bottom: 32px;
    font-size: 26px;
    // color: rgb(20, 21, 26);
    font-weight: 600;
    line-height: 1.45;
    font-feature-settings: "ss02";
    nb-menu .menu-title {
        //  font-size: 1.1em !important;
        // text-align: left !important;
    }
    /* modal animation */
    nb-dialog-container {
        animation-name: example;
        animation-duration: 0.3s;
    }
    .slogan h2 {
        font-size: 46px;
        font-weight: 600;
    }
    .slogan h3 {
        font-size: 26px;
        font-weight: 400;
    }
    .text-blue-orientate {
        color: nb-theme(color-primary-500);
    }
    .text-purple-orientate {
        color: nb-theme(color-info-500);
    }
    .text-red-orientate {
        color: nb-theme(color-danger-500);
    }
    .cta {
        button {
            // width: 250px;
            font-size: 26px;
            height: 50px;
            font-weight: 700;
        }
    }
    #wdr-toolbar-wrapper #wdr-toolbar,
    #wdr-toolbar-wrapper #wdr-toolbar a,
    #wdr-toolbar-wrapper #wdr-toolbar div,
    #wdr-toolbar-wrapper #wdr-toolbar input,
    #wdr-toolbar-wrapper #wdr-toolbar li,
    #wdr-toolbar-wrapper #wdr-toolbar p,
    #wdr-toolbar-wrapper #wdr-toolbar select,
    #wdr-toolbar-wrapper #wdr-toolbar span,
    #wdr-toolbar-wrapper #wdr-toolbar table,
    #wdr-toolbar-wrapper #wdr-toolbar table td,
    #wdr-toolbar-wrapper #wdr-toolbar table th,
    #wdr-toolbar-wrapper #wdr-toolbar table tr,
    #wdr-toolbar-wrapper #wdr-toolbar textarea,
    #wdr-toolbar-wrapper #wdr-toolbar ul {
        font-family: inherit;
    }
    #wdr-pivot-view .wdr-ui,
    #wdr-pivot-view .wdr-ui a,
    #wdr-pivot-view .wdr-ui div,
    #wdr-pivot-view .wdr-ui input,
    #wdr-pivot-view .wdr-ui li,
    #wdr-pivot-view .wdr-ui p,
    #wdr-pivot-view .wdr-ui select,
    #wdr-pivot-view .wdr-ui span,
    #wdr-pivot-view .wdr-ui table,
    #wdr-pivot-view .wdr-ui table td,
    #wdr-pivot-view .wdr-ui table th,
    #wdr-pivot-view .wdr-ui table tr,
    #wdr-pivot-view .wdr-ui textarea,
    #wdr-pivot-view .wdr-ui ul,
    #wdr-toolbar-wrapper .wdr-toolbar-ui,
    #wdr-toolbar-wrapper .wdr-toolbar-ui a,
    #wdr-toolbar-wrapper .wdr-toolbar-ui div,
    #wdr-toolbar-wrapper .wdr-toolbar-ui input,
    #wdr-toolbar-wrapper .wdr-toolbar-ui li,
    #wdr-toolbar-wrapper .wdr-toolbar-ui p,
    #wdr-toolbar-wrapper .wdr-toolbar-ui select,
    #wdr-toolbar-wrapper .wdr-toolbar-ui span,
    #wdr-toolbar-wrapper .wdr-toolbar-ui table,
    #wdr-toolbar-wrapper .wdr-toolbar-ui table td,
    #wdr-toolbar-wrapper .wdr-toolbar-ui table th,
    #wdr-toolbar-wrapper .wdr-toolbar-ui table tr,
    #wdr-toolbar-wrapper .wdr-toolbar-ui textarea,
    #wdr-toolbar-wrapper .wdr-toolbar-ui ul {
        font-family: inherit;
    }
    /* style sheet for "A4" printing */
    @media print and (width: 21cm) and (height: 29.7cm) {
        @page {
            margin: 3cm;
        }
    }
    /* style sheet for "letter" printing */
    @media print and (width: 8.5in) and (height: 11in) {
        @page {
            margin: 2in;
        }
    }
    @media print {
        .occupation-info-card {
            font-size: 1.0em;
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            top: 0;
        }
    }
}