@import './themes';
@mixin nb-overrides() {
    //Estilo tamaño text menu
    overflow-wrap: break-word;
    margin-bottom: 32px;
    font-size: 26px;
    // color: rgb(20, 21, 26);
    font-weight: 600;
    line-height: 1.45;
    font-feature-settings: "ss02";
    nb-menu .menu-title {
        font-size: 1.2em !important;
        text-align: left !important;
    }
    /* modal animation */
    nb-dialog-container {
        animation-name: example;
        animation-duration: 0.3s;
    }
    .slogan h2 {
        font-size: 46px;
        font-weight: 600;
    }
    .slogan h3 {
        font-size: 26px;
        font-weight: 400;
    }
    .text-blue-orientate {
        color: nb-theme(color-primary-500);
    }
    .text-purple-orientate {
        color: nb-theme(color-info-500);
    }
    .text-red-orientate {
        color: nb-theme(color-danger-500);
    }
    .cta {
        button {
            // width: 250px;
            font-size: 26px;
            height: 50px;
            font-weight: 700;
        }
    }
}
