<nb-layout windowMode>
    <nb-layout-header fixed>
        <div class="container">
            <ngx-header color="red"></ngx-header>
        </div>
    </nb-layout-header>


    <nb-sidebar state="collapsed" class="menu-sidebar " tag="menu-sidebar" responsive start>

        <ng-content select="nb-menu"></ng-content>

    </nb-sidebar>
    <nb-layout-column>

        <div class="d-flex justify-content-center h-100 ">
            <div class="  col-md-8 align-self-center d-none  d-md-block">
                <div class="d-flex justify-content-center ">



                    <div class="d-flex justify-content-center">
                        <ng-lottie class="mx-auto" [options]="options" (animationCreated)="animationCreated($event,0.2)">
                        </ng-lottie>

                    </div>



                    <!-- <div class="social">
                                <a href="https://www.instagram.com/unwomen/" target="_blank" nButton ghost>
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.youtube.com/playlist?list=PLE60A581BA7D5B96A" target="_blank" nButton ghost>
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://twitter.com/onumujeres" target="_blank" nButton ghost>
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.facebook.com/onumujeres" target="_blank" nButton ghost>
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="https://www.unwomen.org/es" target="_blank" nButton ghost>
                                    <i class="fa fa-globe"></i>
                                </a>

                            </div>-->

                </div>


            </div>

            <nb-card class="auth-block  col-sm-12  col-md-4">

                <nb-card-body class="d-flex   align-items-center align-self-stretch">

                    <auth-block>
                        <img class="logo" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Rojo.svg" alt="Logo">
                        <router-outlet></router-outlet>
                    </auth-block>

                </nb-card-body>
            </nb-card>



        </div>
    </nb-layout-column>
</nb-layout>
