@import '../../@theme/styles/themes';
@include nb-install-component() {
     ::ng-deep router-outlet+* {
        display: block;
        animation: fade 1s;
        @keyframes fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
    nb-layout-column {
        background-color: #0094D3;
        padding: 0!important;
        background: url(/assets/img/unwomen1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        ;
    }
    .vignette {
        // position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    }
    .hero {
        max-width: 600px;
        text-align: center;
    }
    .hero>* {
        //  margin-top: 2em;
    }
    .hero-logo img {
        border-radius: 3px;
    }
    nb-card.hero-card {
        background-color: rgba(255, 255, 255, 0.5);
        nb-card-body {
            height: 80%;
        }
        filter: opacity(0.91);
        background: rgb(219, 245, 250);
        background: linear-gradient(322deg, rgba(192, 235, 243, 1) 0%, rgba(247, 254, 255, 1) 37%, rgba(255, 255, 255, 1) 100%);
    }
    nb-card.half-opacity {
        filter: opacity(0.5);
    }
    nb-card.routed-card {
        //   left: -15px;
        height: 100%;
        box-shadow: -3px 3px 17px 0px #0000002c, 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    }
    .hero-card nb-card-header {
        border-bottom: 0px;
    }
    .social a {
        margin-left: 0.5em;
    }
    .social a i {
        font-size: 20px;
    }
    .social a {
        text-decoration: none;
    }
    .social-rotated {
        transform: rotate(-90deg);
        right: -95px;
        position: absolute;
        bottom: 145px;
        font-size: 14px;
        font-weight: bold;
        color: nb-theme(color-basic-500);
        /* Legacy vendor prefixes that you probably don't need... */
        /* Safari */
        -webkit-transform: rotate(-90deg);
        /* Firefox */
        -moz-transform: rotate(-90deg);
        /* IE */
        -ms-transform: rotate(-90deg);
        /* Opera */
        -o-transform: rotate(-90deg);
    }
    nb-card-footer.social {
        border-top: 0;
    }
}

.open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}