<div class="header-container ">
    <span (click)="back()" class="link back-link" aria-label="Back">
        <nb-icon status="info" icon="arrow-back"></nb-icon>
    </span>
    <div class="logo-container">
        <a class="logo" href="/" (click)="navigateHome()">


            <img *ngIf="color == 'purple'" width="100%" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Morado.svg" alt="Logo">
            <img *ngIf="color == 'blue'" width="100%" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Azul.svg" alt="Logo">
            <img *ngIf="color == 'red'" width="100%" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Rojo.svg" alt="Logo">

        </a>

    </div>

    <!--<nb-select status="primary" matRipple [selected]="currentTheme" (selectedChange)="changeTheme($event)">
        <nb-option *ngFor="let theme of themes" [value]="theme.value" matRipple>{{ theme.name }}</nb-option>
    </nb-select>-->


</div>

<div class="header-container ">
    <nb-actions size="small">
        <!--
        <nb-action class="user-action" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true">
            <span nbTooltipPlacement="left" nbTooltipStatus="info" nbTooltip="Información">

            <button
             nbContextMenuTrigger="hover"
             nbContextMenuTag="infoMenu"
             class="main-menu-item mr-2 shadow-sm"
             [nbContextMenu]="infoMenu"
             shape="round" outline nbButton status="info">
            <nb-icon icon="info"></nb-icon>
          </button>
            </span>
        </nb-action>-->
        <nb-action *ngIf="user.id" class="user-action" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true">
            <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="user-context-menu" [onlyPicture]="true" [name]="user?.email" [picture]="user?.picture" color="#6dbbd3d4">
            </nb-user>
        </nb-action>
    </nb-actions>
    <div *ngIf="!without_sidebar_btn" class="d-flex row">
        <a href="#" class="sidebar-toggle" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" (click)="toggleSidebar()">
            <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
        </a>

    </div>
</div>
