<div class="col-md-8 offset-md-2">
    <nb-card class="shadow" status="info" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="large" nbSpinnerMessage="Actualizando">
        <nb-card-header> ENCUESTA ONU MUJERES </nb-card-header>
        <nb-card-body>
            <div class="p-3">
                <div [label]="CONSENTIMIENTO" *ngIf="section_id == '1' && !start">
                    <ng-template #CONSENTIMIENTO>Consentimiento</ng-template>
                    <ngx-seccion1 [survey]="survey"></ngx-seccion1>
                    <div>
                        <!--  <form>
                            <label class="label col-form-label" for="consent">Consentimiento informado firma *</label>
                            <nb-radio-group [(ngModel)]="consent" name="consent" status="success">
                                <nb-radio value="true"> Sí </nb-radio>
                                <nb-radio value="false"> No </nb-radio>
                            </nb-radio-group>
                        </form>-->
                    </div>

                    <div class="text-center">
                        <button (click)="start=true" nbButton>
              <!--[disabled]="!consent"-->
              Continuar
            </button>
                    </div>

                </div>
                <div *ngIf="start || (section_id != '1' && !start)" #stepper>

                    <div label="Sección {{ section?.code }}">
                        <form [formGroup]="form" async>

                            <h4>
                                <span>{{ section?.code }}.</span> {{ section?.text }}
                            </h4>
                            <p class="lorem">
                                {{ section?.desc }}
                            </p>
                            <br />
                            <ng-container *ngFor="
                      let question of section?.questions;
                      let j = index;
                      trackBy: trackByFn
                    ">


                                <div *ngIf="question.show">
                                    <div *ngIf="question.pre_title">
                                        <br />
                                        <h6 class="text-info"><b>{{question.pre_title}}</b></h6>

                                    </div>
                                    <div class="question-text row">

                                        <span class="text-danger" *ngIf="question.required">*</span>
                                        <div *ngIf="question.type !== 'INS'">
                                            <b><span> {{ question.label }} </span> {{ question.text }}</b>
                                        </div>
                                    </div>
                                    <div>
                                        <span *ngIf="question.type!=='INS'" class="caption"> {{ question.desc }} </span>
                                    </div>
                                    <div [ngSwitch]="question.type">
                                        <div class="pt-2" *ngSwitchCase="'T'">
                                            <input [name]="question.label" type="text" nbInput shape="round" fullWidth fieldSize="small" status="danger" [formControl]="form.controls[question.label]" />
                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'TL'">
                                            <textarea [name]="question.label" type="text" nbInput shape="round" fullWidth fieldSize="small" status="danger" [formControl]="form.controls[question.label]"></textarea>
                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'N'">
                                            <input [name]="question.label" type="number" shape="round" fullWidth fieldSize="small" status="danger" [formControl]="form.controls[question.label]" />
                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'U'">
                                            <nb-radio-group status="danger" [name]="question.label" [formControl]="form.controls[question.label]">
                                                <nb-radio (click)="
                                eval_conditions(
                                  form,
                                  question,
                                  option.value,
                                  section.questions
                                )
                              " *ngFor="
                                let option of question.options;
                                let j = index;
                                trackBy: trackByFn
                              " value="{{ option.value }}">
                                                    <ng-template #elseBlock>
                                                        {{ option.text }}
                                                    </ng-template>

                                                    <input *ngIf="option.isOther; else elseBlock" type="text" fieldSize="small" shape="round" fullWidth status="danger" nbInput (click)="
                                  form.get(question.label).setValue(option.value)
                                " [placeholder]="option.text" [formControl]="form.controls[question.label + '_OTRO']" />
                                                </nb-radio>
                                            </nb-radio-group>
                                            <div *ngIf="
                              form.get(question.label + '_OTRO')?.invalid &&
                              (form.get(question.label + '_OTRO')?.dirty ||
                                form.get(question.label + '_OTRO')?.touched)
                            " class="alert text-danger label">
                                                <div *ngIf="
                                form.get(question.label + '_OTRO').errors.required
                              ">
                                                    La Opción OTRO es Obligatoria para la pregunta
                                                    <b>{{ question.label }}</b>.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'S'">
                                            <nb-radio-group status="danger" [name]="question.label" [formControl]="form.controls[question.label]">
                                                <nb-radio (click)="
                                eval_conditions(
                                  form,
                                  question,
                                  1,
                                  section.questions
                                )
                              " value="1">
                                                    Sí
                                                </nb-radio>
                                                <nb-radio (click)="
                                eval_conditions(
                                  form,
                                  question,
                                  2,
                                  section.questions
                                )
                              " value="2">
                                                    No
                                                </nb-radio>
                                            </nb-radio-group>
                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'M'">
                                            <nb-checkbox status="danger" [name]="question.label + '_' + option.value" class="m-2 row" [formControl]="form.controls[question.label + '_' + option.value]" *ngFor="
                              let option of question.options;
                              let j = index;
                              trackBy: trackByFn
                            " value="option.value">
                                                <ng-template #elseBlock2>
                                                    {{ option.text }}
                                                </ng-template>
                                                <input *ngIf="option.isOther; else elseBlock2" type="text" fieldSize="small" shape="round" fullWidth status="danger" nbInput (click)="
                                  form.get(question.label).setValue(option.value)
                                " [placeholder]="option.text" [formControl]="form.controls[question.label + '_OTRO']" />
                                            </nb-checkbox>

                                        </div>
                                        <div class="pt-2" *ngSwitchCase="'D'">
                                            <input nbInput status="danger" placeholder="dd - MM - yyyy" [nbDatepicker]="formcontrol" [formControl]="form.controls[question.label]" />
                                            <nb-datepicker format="dd - MM - yyyy" #formcontrol></nb-datepicker>
                                        </div>
                                        <div class="pt-2 d-flex flex-row justify-content-between align-items-center" *ngSwitchCase="'E'">
                                            <div>
                                                {{ question.start }}
                                            </div>
                                            <nb-radio-group class="d-flex flex-row justify-content-between" [name]="question.label" [formControl]="form.controls[question.label]">
                                                <nb-radio class="" value="1"> 1 </nb-radio>
                                                <nb-radio class="" value="2"> 2 </nb-radio>
                                                <nb-radio class="" value="3"> 3 </nb-radio>
                                                <nb-radio class="" value="4"> 4 </nb-radio>
                                                <nb-radio class="" value="5"> 5 </nb-radio>
                                            </nb-radio-group>
                                            <div>
                                                {{ question.end }}
                                            </div>
                                        </div>
                                        <nb-card class="mt-3" *ngSwitchCase="'INS'" accent="primary" status="info">
                                            <nb-card-header>
                                                {{question.text}}
                                            </nb-card-header>
                                            <nb-card-body>
                                                <div class="caption p-2">
                                                    <b> {{question.desc}}</b>
                                                </div>
                                            </nb-card-body>
                                        </nb-card>
                                    </div>
                                    <div *ngIf="
                                      form.get(question.label)?.invalid &&
                                      (form.get(question.label)?.dirty ||
                                        form.get(question.label)?.touched)
                                    " class="alert text-danger label">
                                        <span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span>

                                        <div class="error-msg" *ngIf="form.get(question.label).errors.required">
                                            La Pregunta <b>{{ question.label }}</b> es obligatoria.
                                        </div>
                                        <div class="error-msg" *ngIf="form.get(question.label).errors.email">
                                            Debe ingresar un Mail Valido
                                        </div>
                                    </div>
                                    <br />
                                </div>




                            </ng-container>

                            <div class="text-center">
                                <!-- <button nbButton (click)="scrollToTop()" nbStepperPrevious>
                      Anterior
                    </button>-->
                                <button status="info" *ngIf="section_id != '6';else finish" type="submit" nbButton (click)="onSubmit(form, 1)">
                  Siguiente
                </button>
                                <ng-template #finish>
                                    <button status="success" type="submit" nbButton (click)="onSubmit(form, 6)">
                    Finalizar
                  </button>
                                </ng-template>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </nb-card-body>
        <nb-card-footer> </nb-card-footer>
    </nb-card>
</div>
