 .occupation {
     position: relative;
 }

 .ill {
     position: absolute;
     bottom: -21%;
     right: -40%;
 }

 .illustration-container {
     position: relative;
     width: 100%;
     height: 100%;
 }
