<div class="container">

    <div class="section ">
        <div class="row slogan">

            <!-- Instrucciones generales -->
            <div class="col-md-9">
                <h2 class=" text-regular  text-blue-orientate text-blue-orientate">Cómo responder</h2>
                <h3>Lee cada pregunta con atención y escoge la respuesta. La respuesta de cada pregunta implica marcar todas las opciones presentadas, en orden de preferencia según la escala</h3>

                <b class="mt-3 h5">Me encanta - Me gusta - No estoy seguro - No me gusta</b>

                <p class="text-blue-orientate mt-3 text-break">Recuerda que no existen respuesta buenas o malas, todas las respuestas son válidas.<br> Contesta con la mayor honestidad posible.</p>

            </div>
        </div>
    </div>

    <div class="section mb-4">
        <!-- Componente de ejemlo -->
        <img class="scale-card" src="assets/Orienta-t/Escala de respuesta/PNG/Oriéntate_Barra.png">
        <p class="text-blue-orientate mt-3 p">A continuación podrás responder una pregunta de prueba.</p>
    </div>
    <div class="section my-5 ">
        <!-- Componente de ejemlo interactivo -->

        <h2 class="text-blue-orientate slogan">Responde el siguiente ejemplo:</h2>

        <ngx-scale-card class="mt-4" [question]="example_question"></ngx-scale-card>

    </div>
    <div class=" section mt-5 mb-5">
        <!-- Iniciar test -->
        <div class="row cta">
            <button class="mx-auto " nbButton shape="round" status="primary">INICIAR TEST</button>
        </div>

    </div>
</div>

<div class="section m-0">
    <div class="d-flex justify-content-end align-items-end">

        <img class="footer-logo " width="80%" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Azul.svg" alt="Logo">
    </div>

</div>
