<div class="col-md-10 offset-md-1  h-100">

    <div class="section ">
        <div class="row ">

            <!-- Instrucciones generales -->
            <div class="col-md-9">
                <h2 class="h4   text-blue-orientate">Cómo responder</h2>
                <p class="h6 mt-2 font-weight-light ">Lee cada pregunta con atención y escoge la respuesta. La respuesta de cada pregunta implica marcar todas las opciones presentadas, en orden de preferencia según la escala</p>

                <p class="h6 mt-2">Me encanta - Me gusta - No estoy seguro - No me gusta</p>

                <p class="text-blue-orientate mt-3 text-break">Recuerda que no existen respuesta buenas o malas, todas las respuestas son válidas. Contesta con la mayor honestidad posible.</p>

            </div>
        </div>
    </div>

    <div class="section mb-4">
        <!-- Componente de ejemlo -->
        <img class="scale-card" src="assets/Orienta-t/Escala de respuesta/PNG/Oriéntate_Barra.png">
        <p class="text-blue-orientate mt-3 p">A continuación podrás responder una pregunta de prueba.</p>
    </div>
    <div class="section my-5 ">
        <!-- Componente de ejemlo interactivo -->

        <h2 class="h4    text-blue-orientate ">Responde el siguiente ejemplo:</h2>

        <ngx-scale-card class="mt-4" [question]="example_question"></ngx-scale-card>

    </div>
    <div class=" section mt-5 mb-5">
        <!-- Iniciar test -->
        <div *ngIf="!survey?.uuid" class="row cta">
            <button (click)="start()" class="mx-auto " nbButton shape="round" status="primary">INICIAR TEST</button>
        </div>
        <div *ngIf="survey?.uuid" class="row cta">
            <button routerLink="/encuesta/1/{{survey?.uuid}}" class="mx-auto " nbButton shape="round" status="primary">RESUMIR TEST</button>
        </div>

    </div>
    <div class="section m-0">
        <div class="d-flex justify-content-end align-items-end">

            <img class="footer-logo " width="80%" src="assets/Orienta-t/Logo/SVG/Assets Oriéntate_Azul.svg" alt="Logo">
        </div>

    </div>
</div>
