@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    .menu-sidebar ::ng-deep .scrollable {
        padding-top: nb-theme(layout-padding-top);
    }
    nb-layout-column {
        padding: 5em 3em 0em 3em!important;
    }
     ::ng-deep {
        //FIn
        a.logo {
            width: 4em;
            margin-top: .5em;
        }
        ngx-header {
            position: fixed;
            z-index: 2;
            right: 0;
            padding: 0em 3em 0em 2em;
            width: 0;
            display: flex;
            justify-content: flex-end;
            top: 0.5em;
        }
        nav {
            background-color: #6DB9D0;
        }
        .logo {
            width: 70%;
        }
        .logo-container {
            position: fixed;
            left: 1em;
        }
    }
}