@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@include nb-install-component() {
    .menu-sidebar ::ng-deep .scrollable {
        padding-top: nb-theme(layout-padding-top);
    }
     :host-context(.visor) {
        nb-layout-column {
            padding: 0!important;
        }
    }
     ::ng-deep {
        //FIn
        #layer-sidenav nb-card-body {
            padding: 0!important;
        }
        .mapboxgl-ctrl-top-right {
            top: 4.5em;
        }
        a.logo {
            width: 6em;
            margin-top: .5em;
        }
        ngx-header {
            position: fixed;
            z-index: 2;
            right: 0;
            padding: 0em 1em 0em 1em;
            width: 0;
            display: flex;
            justify-content: flex-end;
            top: 0.4em;
        }
        .logo {
            width: 80%;
        }
        .logo-container {
            position: fixed;
            left: 1em;
        }
    }
}