<div class="col-md-8 offset-md-2">
    <nb-card size="medium" accent="info" status="info">
        <nb-card-header>
            Gracias
        </nb-card-header>
        <nb-card-body>
            <div class="d-flex align-items-center justify-content-center">
                <div style="height: 100%;" class="d-flex align-items-center justify-content-center">
                    <h2 class="color-success align-middle"> Gracias por participar!</h2>
                </div>

            </div>
            <div class="row mt-4">

                <div class="hero-logo d-flex justify-content-between align-self-end">
                    <a class="col" href="#"><img src="assets/img/logo-prm.jpg" width="100%" alt="logo-obs"></a>

                    <a class="col" href="#"><img src="assets/img/logo.jpg" width="100%" alt="logo-obs"></a>
                </div>
            </div>





        </nb-card-body>
    </nb-card>
</div>
