<nb-card class="level-card col-sm-12 col-md-8 offset-md-2 ">

    <nb-card-body>
        <p class="text-purple-orientate h5 "> {{level.title}}</p>
        <p class="text-purple-orientate "> {{(readMore) ? level.desc : level.desc | slice:0:150}} <span *ngIf="!readMore">...</span>
            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">[Leer Más]</a>

            <a href="javascript:;" *ngIf="readMore" (click)="readMore=false">[Leer Menos]</a>
        </p>

        <nb-list>
            <nb-list-item routerLink="/perfil/ocupacion/{{occupation.title}}" class="d-flex justify-content-between" *ngFor="let occupation of level.occupations; let i = index">

                <p class="text-decoration-none text-dark">
                    <span class="num">{{i+1}}</span>{{ occupation.title }}

                </p>

                <button size="small" nbButton status="info" outline shape="round">
                  <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                </button>
            </nb-list-item>

        </nb-list>
    </nb-card-body>
</nb-card>
