<div class="text-justify p-2">
    <h5 class="text-center">CONSENTIMIENTO INFORMADO</h5>
    <br /> Con mi firma autorizo el tratamiento de la información suministrada de acuerdo y para los fines del proyecto “Acciones para la protección e inclusión para las mujeres en el contexto de los flujos migratorios mixtos procedentes de Venezuela
    en la costa caribe colombiana” - PA001448COL. Para ello la Universidad del Norte y la ONU-Mujeres (ONU) han diseñado el siguiente instrumento para recolectar información del personal participante en el estudio, este documento contiene preguntas personales,
    sociales, económicas, y con su diligenciamiento usted manifiesta que conoce, autoriza y acepta el uso y tratamiento que dará la Universidad y la ONU a esta información para los fines del proyecto antes indicado, y de acuerdo con sus políticas de protección
    de datos personales, las cuales pueden ser consultadas en los siguientes links:
    <a href="https://www.google.com/url?q=http://www.uninorte.edu.co/politica-de-privacidad-de-datos&amp;sa=D&amp;source=editors&amp;ust=1616000621212000&amp;usg=AFQjCNE_pg0hGYzZtQOmvumhv1qtCdU9Zw">http://www.uninorte.edu.co/politica-de-privacidad-de-datos</a>    y
    <a href="https://www.google.com/url?q=https://unsceb.org/personal-data-protection-and-privacy-principles&amp;sa=D&amp;source=editors&amp;ust=1616000621212000&amp;usg=AFQjCNFsW0gNPKHJ08GQWgt2faS6jDLp8A">https://unsceb.org/personal-data-protection-and-privacy-principles</a>.
    Como titular de la información a suministrar declaro que la misma es totalmente actual, exacta y veraz. Asimismo, reconozco que soy el único responsable de la información falsa, inexacta que suministre.<br />Fui informado que mis derechos como titular
    de los datos suministrados, son los previstos en la Constitución y la Ley 1581 de 2012, y especialmente acceder en forma gratuita a los datos proporcionados, solicitar actualización y rectificación de su información, solicitar prueba de la autorización
    otorgada, revocatoria de la autorización y/o solicitar la supresión del dato (salvo cuando por disposición legal o contractual sea obligatorio conservar la información), presentar ante la Superintendencia de Industria y Comercio quejas por infracciones
    a la normativa vigente.<br />Así mismo, he sido informado sobre el carácter facultativo que tiene el suministro de información sensible o datos de las niñas, niños y adolescentes. Se entiende por datos sensibles aquellos que afectan la intimidad del
    Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos
    humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos biométricos; y que podré ejercitar, en
    cualquier momento, mis derechos derivados o relacionados con la protección de datos personales (habeas data) a través de los medios y procedimientos indicados en la políticas de protección de datos personales de la Universidad del Norte y de la ONU.<br
    />
    <br />Aclaro que he leído y entendido cada aparte de este documento, y que la suscribo de forma libre y voluntaria una vez leída en su totalidad y que me presento voluntariamente para participar en este estudio. He entendido la información que se
    expone en este consentimiento y me han respondido las dudas e inquietudes surgidas. <br /><br />
</div>

<div class="row">
    <div class="col-md-6">
        <p>Nombre de la participante:</p>
        <b>{{survey?.surveyed?.name}}</b>
    </div>
    <div class="col-md-6">
        <p>Documento de identificación de la participante</p>
        <b>{{survey?.surveyed?.identification}}</b>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <p>Fecha y Hora</p>
        <b>{{survey?.created_at |  date:'medium'}}</b>
    </div>

</div>
